<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/Style.css}">
</head>

<body>

    <main class="container">
        <br><br><br><br>
        <div class="row">
            <h1 class="text-center">Bem Vindo ao LHause!!</h1>
            <form class="sign-pag-form form-center" id="form">
                <div>
                    <br>
                    <label for="txtNome">Nome</label> <br>
                    <input type="text" name="nome" id="txtNome" required> <br>
                    <label for="txtCpf">Cpf</label> <br>
                    <input type="text" name="cpf" id="txtCpf" required minlength="11" size="11" > <br>
                    <label for="txtEmail">Email</label> <br>
                    <input type="email" name="email" id="txtEmail" required> <br>
                    <label for="txtTelefone">Telefone</label> <br>
                    <input type="text" name="telefone" id="Telefone" required> <br>
                    <label for="txtUsuario">Nome de usuario</label> <br>
                    <input type="text" name="login" id="txtUsuario" required> <br>
                    <label for="txtSenha">Senha</label> <br>
                    <input type="password" name="senha" id="txtSenha" required>  <br>
                </div>
                <br>
                <article class="text-center">
                    <input class="btn btn-success" type="submit" value="Cadastrar">
                </article>
            </form>
            <a class="text-white" th:href="@{/}"><button class="btn btn-secondary">Voltar</button></a>
            <br><br>
        </div>
    </main>
    <script th:src="@{/js/postUser.js}"></script>
</body>

</html>