<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Acesso Negado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}" />
</head>

<body>
    <main>
        <br><br><br><br>
        <div class="h-100 d-flex align-items-center justify-content-center text-center">
            <div>
                <h1>Erro 404</h1> <br>
                <hr>
                <h3>Arquivo ou diretório não encontrado!</h3>
                <hr>
            </div>
        </div>
    </main>
</body>

</html>