<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    
    <main class="container">
        <br><br>
        <div class="row home">
            <h1>Bem Vindo de volta <span th:text="${nome}"></span></h1>
            <div>
                <a class="text-black" th:href="@{/agenda}"><button class="btn btn-secondary">Agendamentos</button></a> <br>
                <a class="text-black"  th:href="@{/loja}"><button class="btn btn-secondary">Loja</button></a> <br>
                <a class="text-black"  th:href="@{/logout}"><button class="btn btn-danger">Sair</button></a>
            </div>
        </div>
    </main>
    
</body>

</html>